* {
    margin:0 auto;
    padding:0;
}
html, body {
    width: 100%
}

.any_header {
    width: 100%
    text-align: center;
}

#main {
    width:100%;
    overflow: hidden;
    margin: 10px auto;

}
#main section{
    width: 70%;
    height
    overflow: hidden;
    float: left;
}

aside {
    width: 28%;
    float: right;
    overflow: hidden;
    padding: 20px;
    box-sizing: border-box
}

.md_footer {
    text-align:center;
    margin-top: 2rem;
}

.card {
    width: 14.5rem; margin-top:2rem;
}


@media screen and (max-width:500px) {
    html {
        font-size: 10px;}
   .card {
        width: 100%; margin:0 auto;
   }
   .card-title {
        font-size: 12px;
        font-weight: bold;
   }
   .display-4 {
        font-size: 13px;
        font-weight: bold;
   }
     .navbar-brand {
        text-align: left;
    }
    .lead {
        font-size: 11px;
    }

}