<div class="any_header">
        <div>
            <a href="{% url 'home' %}">
                <h1>
                    Anycoin.com
                </h1>
            </a>
        </div>

        <nav class="main-nav">
            <ul class="main-nav__items">
                <li class="main-nav__item">
                   <form method="POST" action="{% url 'prices' %}">
                        {% csrf_token %}
                        <input type="search" placeholder=" BTC, ETH etc" name="quote">
                        <button type="submit" class="button">Find</button>
                    </form>
                </li>
            </ul>
        </nav>
      <hr>

</div>

